.content {
    display: flex;
    padding: 5%;
    background-color: black;
    text-align: center;
}


.cont {
    display: block;

}

.link {
    text-decoration: none;
}

.background-label {
    margin-top: 5%;
    font-size: 250px;
    text-shadow: rgba(218, 129, 12, 0.88) 0 0 110px;
    position: fixed;
    width: 90%;
    text-align: center;
    color: rgba(255, 255, 255, 0.47);
}

.header {
    width: 95%;
    margin: 15px;
    color: rgba(14, 71, 84, 0.85);
    font-size: 26px;
    font-weight: bold;
}

.block {
    position: relative;
    display: inline-flex;
    margin: 3%;
    width: 420px;
    height: 560px;
    border-radius: 20px 20px 0 0;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.92);
    background: linear-gradient(170deg, rgba(242, 255, 0, 0.63), rgb(0, 0, 0));
    border-style: solid;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}

.block:hover {
    transform: scale(1.02);
    box-shadow: rgba(255, 255, 255, 0.4) 1px 3px 22px 2px;
}

.image_field {
    width: 90%;
    height: 5%;
    top: 5px;
}

.image {
    width: 30%;
    height: 80%;
    transform: scale(0.35);
}

.img {
    transition: 0.4s ease-in-out;
}

.img:hover {
    transform: rotate(3deg);
}

.about {
    position: absolute;
    z-index: 1;
    font-size: 22px;
    width: 54%;
    height: 20%;
    margin-left: 44%;
    margin-right: 5%;
    margin-top: 5%;
    color: rgba(255, 255, 0, 0.81);
}

