.pagin {

    color: white;
    background-color: yellow;

}

.pgb {
    display: inline-flex;
    right: 3%;
    width: 40px;
    height: 40px;
    background-color: rgba(145, 145, 142, 0.62);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
    transition: all 0.4s ease-out;
    font-size: 22px;
    font-weight: bold;
}

.pgb:hover {
    transform: scale(1.2);
    background-color: rgba(145, 145, 142, 0.85);
    color: rgba(255, 255, 0, 0.66);
}